.signUp-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.signup-logo-block {
  position: relative;
  display: flex;
  align-self: flex-start;
  width: 100%;
  left: 100px;
  top: -250px;
  text-decoration: none;
  z-index: 1;
}

.logo-signup {
  display: flex;
  align-items: center;
  justify-content: center;  
  text-decoration: none;
}

.logo-picture {
  width: 50px;
  height: 50px;
}

.logo-text {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.signIn-decoration {
  text-decoration: none;
}

.signUp-page__signIn-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 35%;
  background: linear-gradient(to bottom right, #1CA694 0%, 37.443944811820984%, #15AC88 74.88788962364197%, 87.44394481182098%, #30B78D 100%);
}

.image-cube {
  position: absolute;
  left: 398.81px;
  top: 10%;
  height: 75px;
  width: 75px;
  background-image: url('../../figurs/cube.png');
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.image-angle {
  position: absolute;
  left: 0;
  top: 50%;
  height: 200px;
  width: 125px;
  background-image: url('../../figurs/angle.png');
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.image-ellips {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 255px;
  background-image: url('../../figurs/ellips.png');
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.signIn-page__title {
  margin: 0;
  padding-bottom: 40px;

  font-family: Mulish;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
}

.signIn-page__text {
  margin: 0;
  padding-bottom: 40px;

  text-align: center;

  font-family: Mulish;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.signUp-page__right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.signUp-page__helper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signUp-page__article {
  margin: 0;

  font-family: Mulish, 'sans-serif';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #1aaa8d;
}

.signUp-page__article--mgb {
  margin-bottom: 45px;
}

.signUp-page__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUp-page__icons--mgb {
  margin-bottom: 45px;
}

.signUp-page__facebook-icon {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.injected-svg:hover {
  fill: #c0ceca;
}

.injected-svg:active {
  fill: #30b78d;
}

.mail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp-page__text {
  margin: 0;

  font-family: Mulish;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #949494;
}

.signUp-page__text--mgb {
  margin: 30px;
}

.signUp-page__checkbox {
  margin: 30px 0 39px 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.signUp-page__checkbox-lable {
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #0a0b0b;
}

.signUp-page__link {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #0a0b0b;
  text-decoration: none;
}
